.banner{
    background-image: url('../../images/bannerbackground.png');
    background-size: cover;
    width: 100%;
    height: 560px;
    position: relative;
    display: flex;
    justify-content: center;
}
.banner-item{
    margin-top: 9%;
}
.banner-input{
    outline: none;
    border: none;
    width: 264px;
    padding: 4px 20px;
    border-radius: 14px;
}
.banner-button{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    padding: 4px 10px;
    border-radius: 14px;
    background: #e93434;
    color: white;
}
.for-positioning{
    position: relative;
    display: inline-block;

}